.left-side {
    background-color: blue;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    height: 100%;
}
.something {
    height: 100%;
    background-color: red;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    height: 100%;
}

//src: http://www.kodingmadesimple.com/2014/11/create-stylish-bootstrap-3-social-media-icons.html
.facebook i {
 	margin: 5px;
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    background: #4060A5;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

