<div ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
  <div class="container">
  <div class="col-sm-12 col-md-10 pull-right">
    <h1>Volunteer oppurtunities</h1>
    <p class="lead">We Need More Volunteers!</p>
  </div>
    <img class="col-md-2" src="assets/images/HumSocietyLogo.png" alt="I'm Yeoman">

  </div>
</header>
<div class="container">	
	<div class="row">
	  <div class="well well-lg col-lg-12" style="border-radius: 0 0 5px 5px; margin-bottom: 0px">
	     <h4 style="line-height:24px">The entire Shelter is operated with a handful of volunteers, and we really do need more help. There is a great variety of tasks that need to be done, and we can use more help with just about all of them. Our greatest need is for responsible adults -- there is a limited amount of work that can be done by kids. If you have a love for animals, and don't mind being the object of unconditional love, there's bound to be something you can do. Here is a list of some of the things you might be interested in doing:</h4>
	  </div>
	</div>
	<div class="glyphicon glyphicon-option-vertical"></div>
	<div class="row" style="margin: 0px 0 10px 0; background-color: #f5f5f5; border: 1px solid #e3e3e3">
		<div class="column">
			<div class="btn-group btn-group-lg btn-group-vertical col-xs-12 col-sm-6 col-md-5 pull-left" style="padding: 0" >
				<button type="button" class="btn btn-primary" style="border-radius: 0px 0px 0px 0px !important" ng-repeat="section in sections" ng-click="switchSection(section)">{{section.name}}</button>
			</div>
		</div>
		<div class="column" style="">
			<div class="col-xs-12 col-sm-6" style="border-radius: 0px 0px 0px 0px; padding: 24px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)">
				<h4>{{currentSection.name}}</h4>
				<p style="font-size: 16px; line-height: 24px">{{currentSection.info}}</p>
			</div>
		</div>
	</div>

</div>
